* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat',sans-serif;
}

.container {
  width: 100vw;
}

.container .one {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 1fr 1fr 20px;
      grid-template-columns: 20px 1fr 1fr 1fr 20px;
  -ms-grid-rows: 20px 80px 1fr 1fr 50px;
      grid-template-rows: 20px 80px 1fr 1fr 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0B2545), color-stop(#13315C), to(#134074));
  background-image: linear-gradient(#0B2545, #13315C, #134074);
}

.container .one svg {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
  pointer-events: none;
  z-index: 1;
}

.container .one svg .morph {
  fill: #CC0066;
}

.container .one .header {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .one .header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.container .one .header .hamburger .name {
  color: white;
  margin-right: 9px;
  border-bottom: 1px white solid;
}

.container .one .header .hamburger .name #btn1 {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.container .one .logo {
  margin-left: 1rem;
}

.container .one .logo img {
  width: 60px;
}

.container .content {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  place-self: center;
  margin-bottom: 5rem;
  color: white;
  padding: 20px;
}

.container .content h6 {
  margin-bottom: 0.6rem;
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

.container .content p {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
  font-size: 2.9rem;
  margin-bottom: 1.2rem;
  text-align: center;
  line-height: 2.7rem;
}

.container .content button {
  display: block;
  margin: auto;
  border: none;
  background: none;
  border: 1px white solid;
  color: white;
  font-weight: 800;
  padding: 10px 30px;
  cursor: pointer;
}

.container .content_1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  color: white;
  -webkit-animation: example 3s ease-in-out 1s infinite alternate;
          animation: example 3s ease-in-out 1s infinite alternate;
  height: 1rem;
}

.container .content_1 .arrow i {
  margin-right: 10px;
}

.container .content_1 .info h6 {
  font-weight: 500;
  font-size: 0.9rem;
}

@-webkit-keyframes example {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes example {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */